{% extends "main.html" %} 

{% block page_name %}
About Cats on Skis
{% endblock %}

{% block content %}
<div class="page-header">
  <h3>About Cats on Skis</h3>
</div>

<div class="content-section">
  <p>
    We love Cats on Skis! This is the absolute best place to find information about cats on skis. 
    Our mission is to document the fascinating world of feline winter sports and share it with enthusiasts worldwide.
  </p>
</div>

<div class="page-header">
  <h3>Your Authors</h3>
</div>

<div class="author-card">
  <div class="author-info">
    <h4>Slalom Sammy</h4>
    <p>Expert in downhill skiing techniques for cats of all sizes.</p>
    <div class="author-tags">
      <span class="tag">Skiing Expert</span>
      <span class="tag">Cat Whisperer</span>
    </div>
  </div>
  <div class="author-image">
    <img src="{{ url_for('images', image='slalom-sammy') }}" alt="Slalom Sammy" class="profile-image">
  </div>
</div>
{% endblock %}